* {
    box-sizing:border-box;   
    font-family: '8BITWONDERNominal'; 
    font-weight: normal; 
    font-style: normal;
}
body {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "header header header",
    "main main main",
    "footer footer footer";
    background:black;
}
header{
    display:flex;
    height:35vh;
    background-color: transparent;
    color:white;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom:0px;
    padding-bottom:0px;
}
header div{
    margin:0 auto;
    margin-left: 0;
    height:20vh;
}

header #turn-displayer{
    /* font-family: 'Anton', sans-serif; */
    
}

p.turn-displayer{
    font-size: 30px;
    margin-top:50px;
}

p.turn-displayer{
    
        -webkit-animation: 3s linear infinite condemned_blink_effect; 
        animation: 3s linear infinite condemned_blink_effect;
      
}

  @keyframes condemned_blink_effect {
    0% {
      visibility: hidden;
    }
    25% {
      visibility: hidden;
      color: yellow;
    }
    50% {
      visibility: hidden;
      color:red;
    }
    100% {
      visibility: visible;
      color:orange;
    }
}

header .health-bar{
    display: flex;
}
meter::-webkit-meter-bar{
    height:30px;
    width: 300px;
    border: 5px solid orange;
    border-radius: 5px;
    
}

meter::-webkit-meter-optimum-value{
    background:green;
}

meter::-webkit-meter-suboptimum-value{
    background: red;
}
main{
    border: 5px solid white;
    display:flex;
    justify-content: flex-end;
    width:100%;
    height:30vh;
    background-image:url("https://i.imgur.com/NW0mK39.gif");
    background-repeat: repeat-x;
    background-size: cover;
    background-position: center bottom;
    
}



.ember-image{
    margin-right:230px;
}
.roshan-image{
    margin-left: 800px;
}

#fireball {
    width: 100px;
    height: 100px;
    background: transparent;
    position : relative;
    left: 0px;
    animation: fireball 3s linear infinite paused;
    /* visibility: hidden; */
    opacity: 0;
    position:absolute;
}

@keyframes fireball {
    0% {
        left: 0px;
        /* visibility: hidden; */
        opacity: 0;
    }
    2% {
        left: 18px;
        /* visibility: visible; */
        opacity: .2;
    }
    4% {
        left: 36px;
        /* visibility: visible; */
        opacity: .4;
    }
    6% {
        left: 54px;
        /* visibility: visible; */
        opacity: .6;
    }
    8% {
        left: 72px;
        /* visibility: visible; */
        opacity: .8;
    }
    10% {
        left: 90px;
        /* visibility: visible; */
        opacity: 1;
    }
    100% {
        left: 1200px;
        /* visibility: hidden; */
        opacity: 1;
    }
}
.roshan {
   
}
footer{
    display:flex;
    flex-direction:row;
    height: auto;
    background-color: transparent;
    justify-content: center;
    height: 30vh;
    color: white;
}

footer #attack-buttons{
    margin: 50px 100px 0 0;


}
footer #attack-buttons button{
    /* display:inline-block; */
    height: 10vh;
    margin: 0 0 0 0;
    width:20vw;
    border-radius: 20px;
    font-size:15px;
    /* font-family: 'Anton', sans-serif; */
    
}
footer #attack-buttons button:hover {
    cursor: pointer;
    background-color:red;
}
footer #attack-buttons button:hover {
    cursor: pointer;
    background-color:red;
}

#action-counter{
    background: -webkit-linear-gradient(left, red , yellow);
    background: -o-linear-gradient(right, red, yellow);
    background: -moz-linear-gradient(right, red, yellow);
    background: linear-gradient(to right, red , yellow); 
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   text-shadow: 2px 2px pink;
}
.start-game{
    visibility: visible;
    border-radius:5px;
    padding:20px;
    margin-left:100px;
    

}

.start-game:hover{
    background-color: red;
    cursor:pointer;
    
}