* {
    box-sizing:border-box;   
}
body {
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: fit-content(100%);
    grid-template-areas:
    "header header header",
    "main main main",
    "footer footer footer";
    background:black;
}
header{
    display:flex;
    height:30vh;
    background-color: blue;
    flex-direction: row;
    justify-content: space-evenly;

}
header div{
    margin:20px;
}
header #turn-displayer{
    font-family: 'Anton', sans-serif;
    
}
main{
    width:100%;
    height:200px;
    background-image:url("https://i.imgur.com/NW0mK39.gif");
    background-repeat: no-repeat;
    
}
/* 
main img{
    height:auto;
    width:1440px;    
} */

footer{
    display:flex;
    flex-direction:row;
    height: auto;
    background-color:yellow;
    justify-content: center;
    height: 30vh;
}
footer #attack-buttons button{
    /* display:inline-block; */
    height: 20vh;
    width:20vw;
    border-radius: 20px;
    font-size:20px;
    font-family: 'Anton', sans-serif;
}
footer #attack-buttons button:hover {
    cursor: pointer;
}
