* {
    box-sizing:border-box;   
    font-family: '8BITWONDERNominal'; 
    font-weight: normal; 
    font-style: normal; 
}
body {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "header header header",
    "main main main",
    "footer footer footer";
    background:black;
}
header{
    display:flex;
    height:35vh;
    background-color: transparent;
    color:white;
    flex-direction: row;
    justify-content: space-evenly;

}
header div{
    margin:0 auto;
    margin-left: 0;
    height:20vh;
}
header #turn-displayer{
    font-family: 'Anton', sans-serif;
    
}
p.turn-displayer{
    font-size: 50px;
}
header .health-bar{
    display: flex;
}
meter::-webkit-meter-bar{
    height:30px;
    width: 300px;
    border: 5px solid orange;
    border-radius: 5px;
    
}

meter::-webkit-meter-optimum-value{
    background:green;
}

meter::-webkit-meter-suboptimum-value{
    background:yellow;
}
main{
    display:grid;
    width:100%;
    height:50vmin;
    background-image:url("https://i.imgur.com/NW0mK39.gif");
    background-repeat: repeat-x;
    background-size: cover;
    background-position: center bottom;
    
}

main {
   border: 5px solid white;
}

#fireball {
    width: 100px;
    height: 100px;
    background: transparent;
    position : relative;
    left: 0px;
    animation: fireball 3s linear 1 paused;
    /* visibility: hidden; */
    opacity: 0;
}
@keyframes fireball {
    0% {
        left: 0px;
        /* visibility: hidden; */
        opacity: 0;
    }
    2% {
        left: 18px;
        /* visibility: visible; */
        opacity: .2;
    }
    4% {
        left: 36px;
        /* visibility: visible; */
        opacity: .4;
    }
    6% {
        left: 54px;
        /* visibility: visible; */
        opacity: .6;
    }
    8% {
        left: 72px;
        /* visibility: visible; */
        opacity: .8;
    }
    10% {
        left: 90px;
        /* visibility: visible; */
        opacity: 1;
    }
    100% {
        left: 900px;
        /* visibility: hidden; */
        opacity: 1;
    }
}
.roshan {
    margin:
}
footer{
    display:flex;
    flex-direction:row;
    height: auto;
    background-color: transparent;
    justify-content: center;
    height: 30vh;
    color: white;
}

footer #attack-buttons{
    margin:50px 0 0 0;


}
footer #attack-buttons button{
    /* display:inline-block; */
    height: 10vh;
    margin: 50px 0 0 0;
    width:20vw;
    border-radius: 20px;
    font-size:20px;
    font-family: 'Anton', sans-serif;
    
}
footer #attack-buttons button:hover {
    cursor: pointer;
    background-color:red;
}
